<p>
  Displaying {{ users.length }} users.
</p>

<table>
  <thead>
  <tr>
    <th data-field="name">Name</th>
    <th data-field="name">Email</th>
    <th data-field="name">Edit</th>
    <th data-field="name">Delete</th>
  </tr>
  </thead>

  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button md-button color="primary" [routerLink]="['/users', user.id]">
          <md-icon>edit</md-icon>
        </button>
      </td>
      <td>
        <button md-button color="warn" (click)="deleteUser(user)">
          <md-icon>delete</md-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <button routerLink="/users/new" md-fab><md-icon class="white-text">add</md-icon></button>
  
</div>
